body {
  font-family: 'Roboto', sans-serif;
  color: var(--navyblue);
  background-color: var(--white);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --iris: #4d5ae5;
  --navyblue: #2e2f42;
  --ocean: #404bbf;
  --slate: #434455;
  --white: #ffffff;
  --cloud: #f4f4fd;
  --cornflower: #e7e9fc;
  --success: #31d0aa;
  --lightslate: #8e8f99;
  --cloud: #f4f4fd;
}
.container {
  width: 1158px;
  padding: 0 15px 0 15px;
  margin: 0 auto;
}
/* studio-header */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-box {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.logo {
  color: var(--ocean);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
  display: inline-block;
}
.logo-next {
  color: var(--navyblue);
}

.menu::before,
.menu::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  border-radius: 2px;
  color: var(--ocean);
}
.menu:hover,
.menu:focus {
  color: var(--ocean);
}

.menu {
  display: block;
  color: var(--navyblue);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  padding: 24px 0 24px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-list {
  display: flex;
  gap: 40px;
  margin-right: 0 40px 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
}
.address-list {
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.02em;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address {
  font-style: normal;
  margin-left: auto;
}
.address-item {
  display: flex;
  gap: 40px;
  margin-right: 40px 0;
}

.address-list.link:hover,
.address-list.link:focus {
  color: var(--ocean);
}

/* main-section*/

.section {
  background: var(--navyblue);
  max-width: 1440px;
  padding: 188px 0 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-background\ .jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

.section-our-team {
  background-color: var(--cloud);
  padding: 120px 0 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main {
  color: var(--white);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.button {
  background-color: var(--iris);
  color: var(--white);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.04em;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
}

.button:hover,
.button:focus {
  background-color: var(--ocean);
}
/* main-section-two*/

.section-advantages {
  padding: 120px 0 120px;
}
.section-item {
  padding-bottom: 120px;
}

.name-list {
  background-color: var(--white);
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.name-gallery {
  display: flex;
  gap: 24px;
  margin-right: 24px;
}
.name-gallery:last-child {
  margin-right: 0;
}
.items-img {
  flex-basis: calc((100% - 3 * 16px) / 3);
}
.title {
  padding: 32px 0 32px;
}
.name-item {
  width: calc((100% - 72px) / 4);
}
.team {
  display: flex;
  gap: 24px;
  margin-right: 24px;
}
.team:last-child {
  margin-right: 0;
}
.name-index {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.name-h {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.name-paragrah {
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.02em;
}
.name-studio {
  color: var(--slate);
  text-align: center;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  text-align: center;
  padding-bottom: 8px;
}

.studio-section-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  border-radius: 4px;
  background: var(--cloud, #f4f4fd);
  margin-bottom: 8px;
}
.imagine {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
/* section our team icon */
.section-media {
  width: 40px;
  height: 40px;
}

.main-our-team {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--iris);
}

.section-icon-team {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.main-our-team:hover,
.main-our-team:focus {
  background-color: var(--ocean);
}
.icon-our-team {
  fill: var(--cloud);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* section customers */
.customer-section {
  padding: 120px 0 120px;
}
.customers-name {
  color: var(--navyblue2);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.customers {
  display: flex;
  gap: 24px;
}
.customer-box {
  width: calc((100% - 120px) / 6);
  height: 88 px;
}
.main-customers {
  fill: currentColor;
  padding: 16px 32px;
}
.customers-items {
  color: var(--lightslate);
  width: 100%;
  height: 100%;
  border: 1px solid var(--lightslate);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.customers-items:hover,
.customers-items:focus {
  border-color: var(--ocean);
  color: var(--ocean);
}
/* footer */
.item {
  margin-bottom: 16px;
}
.footer {
  background: var(--navyblue);
  padding: 100px 0 100px;
}
.footer-paragrah {
  color: var(--cloud);
  font-size: 16px;
  line-height: 24px; /* 150% */
  letter-spacing: 0.02em;
  max-width: 264px;
}
.logo-studio {
  color: var(--cloud);
  margin-bottom: 16px;
}
/* footer icon studio portfolio */

.icon-social-media {
  display: flex;
  gap: 16px;
}
.icon-social-media .footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--iris);
}
.footer-social:hover {
  background-color: var(--success);
}
.footer-icon {
  fill: var(--white);
}
.footer-media {
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.footer-social-media {
  display: flex;
  align-items: baseline;
}
.footer-logo-paragrah {
  margin-right: 120px;
}
.paragrah-media {
}
/* portfolio */

.button-all {
  background: var(--cloud);
  color: var(--iris);
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 12px 24px 12px;
  border: 1px solid var(--cornflower);
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button-all:hover,
.button-all:focus {
  color: var(--white);
  background-color: var(--ocean);
  border: 1px solid transparent;
}
.section-porftolio {
  padding: 96px 0 120px 0;
}

.button-portfolio {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-right: 24px;
  margin-bottom: 72px;
}
.advantages-item {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  margin-right: 24px 0;
  row-gap: 48px;
}
.name-advantages {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.name-advantages-list {
  display: flex;
  gap: 24px;
}

.imagine-items {
  width: calc((100% - 48px) / 3);
}
.imagine-advantages {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
